<div class="video_complete">
    <app-image class="petite-video_image" [image]="video?.image"></app-image>
    <app-nom class="img" [nom]="video?.nom"></app-nom>
    <div class="flex">
        <app-date class="date" [date_publication]="video?.date_publication"></app-date>
        <app-duree class="duree" [duree]="video?.duree"></app-duree>
    </div>
    <div class="flex">
        <app-vues class="vues" [nombre_vues]="video?.nombre_vues"></app-vues>
        <app-score class="score" [score]="video?.score"></app-score>
    </div>

    <app-utilisateur [utilisateur]="video?.utilisateur"></app-utilisateur>
    <app-avis [avis]="video?.avis"></app-avis>
</div>

