<mat-chip-listbox aria-label="Fish selection" class="chips">
    <mat-chip-option >
      Historique
      <mat-icon aria-hidden="false" aria-label="Example nightlight_round icon" fontIcon="nightlight_round"></mat-icon>
    </mat-chip-option>
    <mat-chip-option >
      Comiques
      <mat-icon aria-hidden="false" aria-label="Example flutter_dash icon" fontIcon="flutter_dash"></mat-icon>
    </mat-chip-option>
    <mat-chip-option selected>
      Horreur
      <mat-icon aria-hidden="false" aria-label="Example settings_accessibility icon" fontIcon="settings_accessibility"></mat-icon>
    </mat-chip-option>
    <mat-chip-option >
      Educatif
      <mat-icon aria-hidden="false" aria-label="Example bookmark_add icon" fontIcon="bookmark_add"></mat-icon>
    </mat-chip-option>
  </mat-chip-listbox>